header {
    background-color: var(--gris);
}

header .btn {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgb(97, 51, 97);
    color: rgb(97, 51, 97);
}

header .btn:hover {
    background-color: rgb(97, 51, 97);
    color: white;
}