header {
    /* display: flex; */
    background-color: white;
    height: 100px;

    /* align-items: center; */
    /* align-content: stretch; */
    /* height: fit-content; */
}

h1 {
    /* height: min-content; */
    margin: 0px;
    font-size: 4rem;
}

#btn_menu:hover {
    cursor: pointer;
}

.bg-white {
    background-color: white;
}

.bd-radius {
    border-radius: 15px;
}

.in-line {
    display: inline-flex;

}

.pad-all {
    padding: 10px;
}

.mar-all {
    margin: 10px;
}

.center {
    align-self: flex-end;
    margin-bottom: 10px;
}

.pad-icons {
    padding-inline: 5px;
    padding-block: 10px;
}

.pad-icons-2 {
    padding-inline: 5px;
}

.col-icons {
    color: grey;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-inline: 10%;
    margin-block: 2.5%;
    --fa-animation-duration: 3.5s;
    /* display: flex;margin-inline: 10%; margin-block: 2.5%; --fa-animation-duration: 3.5s; */
}

.info-content {
    display: grid;
    /* display: flex; justify-content: end; */
}

.info-input {
    border-radius: 5px;
    width: 120px;
    margin: auto;
    text-align: center;
}


#profile-content {
    width: min-content;
    text-align: center;
    padding: 10px;
    /*width: 100%; text-align: center; padding: 10px;*/

}

.info-div {
    margin-block: 10px;
    width: max-content;
    height: max-content;
    padding: 10px;
}

/* #profile-div { */
    /* display: flex; justify-content: space-evenly; */
/* } */

#profile-btn:hover {
    cursor: pointer;
}

#profile-btn:hover+#circle-btn {
    color: purple;
}


#bookmarks-btn:hover {
    color: purple;
    cursor: pointer;
}

#setting-btn:hover {
    color: purple;
    cursor: pointer;
}

#edit-information:hover {
    color: purple;
    cursor: pointer;
}

@media (min-width: 768px) {

    #profile-content {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 7.5% auto;
        width: 100%;
    }

    #title-content {
        grid-row: 1;
        grid-column: 1/3;
    }

    .info-div {
        margin-inline: 10px;
        width: 100%;
    }

    #profile-div {
        display: flex;
        justify-content: space-evenly;
        grid-column: 1/3;
        grid-row: 2;
    }
}

@media (min-width: 1024px) {
    .info-content {
        display: flex;
        justify-content: space-between;
    }
    label {
        text-align: center;
        width: 100%;
    }

    .info-input {
        margin: 0;
        width: 100%;
    }
}

/* @media (min-width: 1440px) {
    section {
        width: 1350px;
    }
}  */

/* style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1;" */