.bold {
    font-weight: 800;
}

.morado-1 {
    color: rgb(97, 51, 97);
}

.morado-2 {
    color: rgb(74, 39, 74);
}

.btn-calificar {
    background-color: gold;
    border-radius: 500px
}

.btnSave {
    color: rgb(97, 51, 97);
    border: solid 1px rgb(97, 51, 97);;
}

.btnRemove {
    color: whitesmoke;
    background-color: rgb(97, 51, 97);
    border: solid 1px rgb(97, 51, 97);
}

.btn {
    font-size: 0.8rem;
}

h2{
    margin: 0;
}

.comments-header,
.ingredientes-header,
.preparacion-header {
    margin: 1rem 0.5rem 0 0.5rem;
}

.titulo-receta {
    margin: 0;
}

h3 {
    font-size: 1.5rem;
}

.fa-star {
    color: gold;
}

.info-receta {
    font-size: 0.7rem;
}

.receta-container img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .info-receta {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .receta-container {
        width: 70%;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 1800px) {
    .receta-container {
        width: 60%;
        margin: 0 auto 0 auto;
    }
}