.bold {
    font-weight: 800;
}

.morado-1 {
    color: rgb(97, 51, 97);
}

.morado-2 {
    color: rgb(74, 39, 74);
}

.btn-calificar {
    background-color: gold;
    border-radius: 500px
}

h2 {
    margin: 1rem 0 0 1rem;
}

.titulo-receta {
    margin: 0;
}

h3 {
    font-size: 1.5rem;
}

.fa-star {
    color: gold;
}

.info-receta {
    font-size: 0.7rem;
}

.receta-container img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .info-receta {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .receta-container {
        width: 70%;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 1800px) {
    .receta-container {
        width: 60%;
        margin: 0 auto 0 auto;
    }
}