@font-face {
    font-family: 'Cookie';
    src:  url('../assets/fonts/Cookie-Regular.ttf') format('truetype');
}

:root {
    --fuenteHeading: 'Montserrat', sans-serif;
    --fuenteParrafos: 'Montserrat', sans-serif;
    --fuenteLogo:  'Cookie', sans-serif;

    --primario: whitesmoke;
    --gris: #dbdbdbd5;
    --gris-oscuro: #b8b8b891;
}

body {
    margin: 0px;
}

main {
    background-image: url("../assets/bg-pattern.png");
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    color: purple;
}

.btn-nav {
    background-color: rgba(230, 230, 230, 0.63);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-nav:hover {
    background-color: rgba(209, 209, 209, 0.63);
    padding-top: 5px;
}

h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-weight: 800;
    font-family: var(--fuenteLogo);
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

hr {
    max-width: 95%;
}

.center {
    display: flex;
    justify-content: center;
}

.underline {
    text-decoration: underline;
}

body {
    min-height: 100vh; 
    background-color: whitesmoke;
    color: purple;
    font-family: var(--fuenteParrafos);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
